@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display+SC&family=Poppins:ital,wght@0,300;0,400;0,500;0,900;1,300&family=Roboto+Condensed:ital@1&family=Rubik+80s+Fade&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
    
}

header{
    font-size: 25px;
}
.titulo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    border: 4px double purple;
    font-family: 'Playfair Display SC', serif;
}
.list-group li a{
     color: purple;
}
.dropdown-menu {
    font-size: 20px;
}

/* hasta aca el header usando css */
/* inicio css del main */
/* inicio carousel */
.carousel{
    background-color: black;
    height: 68vh;
    width: 99vw;     
}
.carousel-inner img {
    width: 100%;
    height: 60vh;
}
/* fin carousel */
.as iframe{
    height: 100%;
    width: 100%;
}
.art1{
    background-image: url(../multimedia/deportista2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 80vh;
}
.art1 .frase{
    background-color: rgba(0, 0, 0, 0.481);
    color: ghostwhite;
}
.art2{
    background-color: black;
    
}
.art2 img{
    height: 100%;
    width: 30vw;
    
}
.art2 h3{
    border: 6px double black;
    background-color: white; 
}
/* termina css del main */
/* inicia css del footer */
footer{
   
    width: 100vw;
    
}
.redes li{
    font-size: 50px;
}

footer img{
    height: 25vh;
    width: 15vw;

}
/* fin css del footer */


/* media queries */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .art1{
        height: 57vh;  
    }
    footer img{
        width: 25vw;
    }
    
}
@media screen and (max-width: 767px) {
    header .list-group{
        flex-direction: column;
    }
    .dropdown-menu{
        width: 90vw;
    }

    .carousel{
        height: 50vh;   
        width: 20vw !; 
    }
    .carousel-inner img {
        width: 100%;
        height: 40vh;
    }
    .as{
       height: 50vh;
    }
    .as iframe{
        height: 50vh;
        
    }
    .art{
        height: 50vh;
    }
   .fotul {
        flex-direction: column !important ;
        gap: 10px;
    }
    footer img{
        height: 20vh;
        width: 35vw;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 479px){
    header{
        font-size: 18px;
    }
    .titulo{
        font-size: 30px;
    }
    .dropdown-menu {
        font-size: 16px;
        
    }
    .art {
        height: 40vh;
        font-size: 18px ;
    }
    .art h3{
        
        font-size: 18px ;
        
    }
}
/* fin media queries */
