@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display+SC&family=Poppins:ital,wght@0,300;0,400;0,500;0,900;1,300&family=Roboto+Condensed:ital@1&family=Rubik+80s+Fade&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Poppins", sans-serif;
}

header {
  font-size: 25px;
  background: rgb(9, 9, 121);
  background: radial-gradient(circle, rgb(9, 9, 121) 1%, rgb(2, 23, 60) 38%, rgb(2, 0, 36) 75%);
  border: 3px solid black;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  header {
    font-size: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  header {
    font-size: 19px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  header {
    font-size: 18px;
  }
}
header .titulo {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  border: 4px double purple;
  font-family: "Playfair Display SC", serif;
  margin-bottom: 2px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  header .titulo {
    font-size: 30px;
  }
}
header .titulo:hover {
  -webkit-animation: titulo 1s;
          animation: titulo 1s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
header .ulh a:hover {
  text-decoration: none;
  -webkit-animation: headerul 0.9s;
          animation: headerul 0.9s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  header .list-group {
    flex-direction: column;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  header .list-group {
    flex-direction: column;
  }
}
header .list-group a {
  font-family: "Playfair Display SC", serif;
  color: rgb(197, 0, 197);
  font-weight: bolder;
}
header .dropdown-menu {
  font-size: 20px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  header .dropdown-menu {
    width: 90vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  header .dropdown-menu {
    font-size: 16px;
    width: 90vw;
  }
}

@-webkit-keyframes titulo {
  to {
    color: rgb(155, 19, 155);
  }
}

@keyframes titulo {
  to {
    color: rgb(155, 19, 155);
  }
}
@-webkit-keyframes headerul {
  to {
    color: rgb(67, 70, 241);
  }
}
@keyframes headerul {
  to {
    color: rgb(67, 70, 241);
  }
}
.carousel {
  background-color: black;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .carousel {
    height: 50vh;
    width: 20vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .carousel {
    height: 50vh;
    width: 20vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .carousel .carousel-inner img {
    height: 300px;
    width: 377px;
    height: 40vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .carousel .carousel-inner img {
    height: 36.5vh;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .as {
    height: 50vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .as {
    height: 50vh;
  }
}
.as iframe {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .as iframe {
    height: 50vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .as iframe {
    height: 50vh;
  }
}

article.art.art1 {
  background-image: url(../multimedia/deportista2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  article.art.art1 {
    height: 50vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  article.art.art1 {
    height: 50vh;
  }
}
article.art.art1 .frase {
  font-size: 33px;
  background-color: rgba(0, 0, 0, 0.481);
  color: ghostwhite;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  article.art.art1 .frase {
    font-size: 29px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  article.art.art1 .frase {
    font-size: 27px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  article.art.art1 .frase {
    font-size: 20px;
  }
}
article.art.art2 {
  background-color: black;
}
article.art.art2 .card {
  background-color: black;
}
article.art.art2 h2 {
  border: 6px double white;
  background-color: purple;
  font-size: 29px;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  article.art.art2 h2 {
    font-size: 27px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  article.art.art2 h2 {
    font-size: 23px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  article.art.art2 h2 {
    font-size: 17px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  article.art.art2 img {
    width: 250px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  article.art.art2 img {
    width: 250px;
  }
}
article.art.art2 a {
  font-size: 20px;
  background-color: purple;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  article.art.art2 a {
    font-size: 17px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  article.art.art2 a {
    font-size: 15px;
  }
}

footer {
  background: rgb(255, 255, 255);
  background: linear-gradient(110deg, rgb(255, 255, 255) 0%, rgb(46, 46, 175) 46%, rgb(126, 0, 139) 100%);
}
footer .fote a {
  height: 100%;
  width: 15vw;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .fote a {
    width: 20vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  footer .fote a {
    width: 28vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  footer .fote a {
    width: 30vw;
  }
}
footer .fote h2 {
  background: rgb(9, 9, 121);
  background: radial-gradient(circle, rgb(9, 9, 121) 1%, rgb(2, 23, 60) 38%, rgb(2, 0, 36) 75%);
  color: white;
  border: 3px solid white;
  border-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .fote h2 {
    font-size: 27px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  footer .fote h2 {
    font-size: 23px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  footer .fote h2 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .fotul {
    font-size: 13.5px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  footer .fotul {
    flex-direction: column !important;
    gap: 10px;
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  footer .fotul {
    flex-direction: column !important;
    gap: 10px;
    font-size: 13px;
  }
}
footer .redes {
  border: 5px solid black;
  margin-bottom: 10px;
}
footer .redes h2 {
  margin-top: 10px;
}
footer .redes li {
  font-size: 50px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  footer .redes li {
    font-size: 35px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  footer .redes li {
    font-size: 30px;
  }
}

#nosotros .card-header {
  background-color: rgb(8, 52, 117);
  border: 3px solid black;
}

#arrep {
  height: 90vh;
  background: rgb(19, 17, 143);
  background: linear-gradient(90deg, rgb(19, 17, 143) 0%, rgb(255, 255, 255) 100%);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #arrep {
    height: 100vh;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #arrep {
    height: 100vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  #arrep {
    height: 100vh;
  }
}
#arrep h1 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: 3px solid black;
  font-size: 35px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #arrep h1 {
    font-size: 25px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #arrep h1 {
    font-size: 25px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  #arrep h1 {
    font-size: 25px;
  }
}

.formu {
  width: 26vw;
  border: 3px solid black;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .formu {
    width: 37vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .formu {
    width: 50vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .formu {
    width: 63vw;
  }
}
.formu div {
  width: 22vw;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .formu div {
    width: 35vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .formu div {
    width: 45vw;
  }
}
.formu .inpnumb::-webkit-inner-spin-button,
.formu .inpnumb::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flip-horizontal-fwd {
  -webkit-animation: flip-horizontal-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
  animation: flip-horizontal-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
}

@-webkit-keyframes flip-horizontal-fwd {
  0% {
    transform: translateZ(0) rotateX(0);
  }
  100% {
    transform: translateZ(160px) rotateX(-180deg);
  }
}
@keyframes flip-horizontal-fwd {
  0% {
    transform: translateZ(0) rotateX(0);
  }
  100% {
    transform: translateZ(160px) rotateX(-180deg);
  }
}
.mbus .card-header {
  background: rgb(9, 9, 121);
}
.mbus .card-header button {
  color: white;
  text-decoration: none;
}

.ven .cardh:hover {
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px;
  transform: scale(1.02);
}
.ven .buy {
  -webkit-animation: comprarmovimiento 0.5s;
          animation: comprarmovimiento 0.5s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  font-size: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .ven .buy {
    font-size: 13px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .ven .buy {
    font-size: 13px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .ven .buy {
    font-size: 11px;
  }
}
.ven h2 {
  font-size: 19px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .ven h2 {
    font-size: 17px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .ven h2 {
    font-size: 17px;
  }
}

@-webkit-keyframes comprarmovimiento {
  from {
    background-color: red;
  }
  to {
    background-color: black;
    transform: scale(1.3);
  }
}

@keyframes comprarmovimiento {
  from {
    background-color: red;
  }
  to {
    background-color: black;
    transform: scale(1.3);
  }
}
#hombre {
  background: rgb(255, 255, 255);
  background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(46, 46, 175) 46%, rgb(126, 0, 139) 100%);
}
#hombre .titu {
  background: rgb(9, 9, 121);
  background: radial-gradient(circle, rgb(9, 9, 121) 1%, rgb(2, 23, 60) 38%, rgb(2, 0, 36) 75%);
  font-family: "Playfair Display SC", serif;
}

#mujer {
  background: rgb(255, 255, 255);
  background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(46, 46, 175) 46%, rgb(126, 0, 139) 100%);
}
#mujer .titu {
  background: rgb(9, 9, 121);
  background: radial-gradient(circle, rgb(9, 9, 121) 1%, rgb(2, 23, 60) 38%, rgb(2, 0, 36) 75%);
  font-family: "Playfair Display SC", serif;
}

#ofertas {
  background: rgb(255, 255, 255);
  background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(46, 46, 175) 46%, rgb(126, 0, 139) 100%);
}
#ofertas .ofer {
  background: rgb(9, 9, 121);
  background: radial-gradient(circle, rgb(9, 9, 121) 1%, rgb(2, 23, 60) 38%, rgb(2, 0, 36) 75%);
  font-family: "Playfair Display SC", serif;
}
#ofertas .ofer2 {
  color: rgb(156, 4, 156);
  background: rgb(9, 9, 121);
  background: radial-gradient(circle, rgb(9, 9, 121) 1%, rgb(2, 23, 60) 38%, rgb(2, 0, 36) 75%);
}
#ofertas .ofe .cardh:hover {
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px;
  transform: scale(1.02);
}
#ofertas .ofe .buy {
  -webkit-animation: comprarmovimiento 0.5s;
          animation: comprarmovimiento 0.5s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  font-size: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #ofertas .ofe .buy {
    font-size: 13px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #ofertas .ofe .buy {
    font-size: 13px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  #ofertas .ofe .buy {
    font-size: 11px;
  }
}
#ofertas .ofe h2 {
  font-size: 19px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #ofertas .ofe h2 {
    font-size: 17px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  #ofertas .ofe h2 {
    font-size: 17px;
  }
}

table th {
  background-color: black;
  color: white;
  border: 2px solid white !important;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  table th {
    font-size: 10px;
  }
}
table td {
  background-color: gray;
  color: white;
  border: 2px solid white !important;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  table td {
    font-size: 10px;
  }
}

#contacto {
  background: rgb(19, 17, 143);
  background: linear-gradient(90deg, rgb(19, 17, 143) 30%, rgb(255, 255, 255) 100%);
}
#contacto .fcont {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 40%, rgb(0, 61, 139) 100%);
  border: 3px solid black;
}
#contacto .fcont label {
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #contacto .fcont label {
    font-size: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #contacto .fcont label {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  #contacto .fcont label {
    font-size: 13px;
  }
}
#contacto .fcont .btn {
  background-color: black;
}
#contacto #detalle {
  height: 15vh;
  width: 100%;
}

#marcas {
  background: rgb(101, 36, 150);
  background: linear-gradient(270deg, rgb(101, 36, 150) 9%, rgb(16, 27, 99) 81%);
}
#marcas .mbus .card-header {
  background: rgb(101, 36, 150);
}
#marcas .titu {
  background: rgb(101, 36, 150);
  background: radial-gradient(circle, rgb(101, 36, 150) 47%, rgb(0, 0, 0) 100%);
  color: white;
  font-family: "Playfair Display SC", serif;
}
#marcas .marca .cardh:hover {
  box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, rgba(255, 255, 255, 0.3) -10px 10px, rgba(255, 255, 255, 0.2) -15px 15px, rgba(255, 255, 255, 0.1) -20px 20px, rgba(255, 255, 255, 0.03) -25px 25px;
  transform: scale(1.02);
}
#marcas .marca .buy {
  -webkit-animation: comprarmovimiento 0.5s;
          animation: comprarmovimiento 0.5s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  font-size: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #marcas .marca .buy {
    font-size: 13px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #marcas .marca .buy {
    font-size: 13px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  #marcas .marca .buy {
    font-size: 11px;
  }
}
#marcas .marca h2 {
  font-size: 19px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #marcas .marca h2 {
    font-size: 17px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  #marcas .marca h2 {
    font-size: 17px;
  }
}/*# sourceMappingURL=styles.css.map */