footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(110deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(46, 46, 175, 1) 46%,
            rgba(126, 0, 139, 1) 100%);

    & .fote {
        a {
            height: 100%;
            width: $ancho*0.15;

            @include medium {
                width: $ancho*0.2;
            }

            @include small {
                width: $ancho*0.28;
            }

            @include extrasmall {
                width: $ancho*0.3;
            }
        }

        h3 {
            @include extrasmall {
                font-size: 18px;
            }
        }
    }

    & .fotul {
        @include medium{
            font-size: 15px;
        }
        @include small {
            flex-direction: column !important;
            gap: 10px;
            font-size: 14px;
        }

        @include extrasmall {
            flex-direction: column !important;
            gap: 10px;
            font-size: 13px;
        }
    }

    & .redes {
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(0, 0, 0, 1) 40%,
                rgba(0, 61, 139, 1) 100%);
        border: $borderblack;

        & li {
            font-size: 50px;
            @include small{
                font-size: 35px;
            }
            @include extrasmall {
                font-size: 30px;
            }
        }
    }
}