header {
  font-size: $fontsize*2.5;
  background: rgb(9, 9, 121);
  background: radial-gradient(circle,
      rgba(9, 9, 121, 1) 1%,
      rgba(2, 23, 60, 1) 38%,
      rgba(2, 0, 36, 1) 75%);
  border: $borderblack;

  @include medium {
    font-size: $fontsize*2;
  }

  @include small {
    font-size: $fontsize*1.9;
  }

  @include extrasmall {
    font-size: $fontsize*1.8;
  }

  & .titulo {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    border: 4px double purple;
    font-family: $fontfam;

    @include extrasmall {
      font-size: $fontsize*3;
    }
  }

  & .titulo:hover {
    animation: titulo 1s;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .ulh {

    & a:hover {
      text-decoration: none;
      animation: headerul 1s;
      animation-delay: 0;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  & .list-group {

    @include small {
      flex-direction: column;
    }

    @include extrasmall {
      flex-direction: column;
    }

    & a {
      font-family: $fontfam;
      color: rgb(197, 0, 197);
      font-weight: bolder;
    }
  }

  & .dropdown-menu {
    font-size: $fontsize*2;

    @include small {
      width: $ancho*0.9;
    }

    @include extrasmall {
      font-size: $fontsize*1.6;
      width: $ancho*0.9;
    }
  }
}

@keyframes titulo {
  to {
    color: rgb(155, 19, 155);
  }
}

@keyframes headerul {
  to {
    color: rgb(11, 11, 211);
    /* transform: scale(1.3);  quisiera saber por que esto solamente marcas*/
  }
}