.carousel {
  background-color: black;


  @include small {
    height: $alto;
    width: $ancho * 0.2;
  }

  @include extrasmall {
    height: $alto;
    width: $ancho * 0.2;
  }

  & .carousel-inner {

    & img {
      @include small {
        height: 300px;
        width: 377px;
        height: $alto * 0.8;
      }

      @include extrasmall {
        height: $alto * 0.8;
      }
    }
  }
}

.as {
  @include small {
    height: $alto;
  }

  @include extrasmall {
    height: $alto;
  }

  & iframe {
    height: 100%;
    width: 100%;

    @include small {
      height: $alto;
    }

    @include extrasmall {
      height: $alto;
    }
  }
}

article {
  &.art {

    &.art1 {
      background-image: url(../multimedia/deportista2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include small {
        height: $alto;
      }

      @include extrasmall {
        height: $alto;
      }


      & .frase {
        font-size: $fontsize*3.3;
        background-color: rgba(0, 0, 0, 0.481);
        color: ghostwhite;

        @include medium {
          font-size: $fontsize*2.9;
        }

        @include small {
          font-size: $fontsize*2.7;
        }

        @include extrasmall {
          font-size: $fontsize*2;
        }
      }
    }

    &.art2 {
      & h1 {
        border: 6px double black;
        background-color: white;
        font-size: $fontsize*2.9;

        @include medium {
          font-size: $fontsize*2.7;
        }

        @include small {
          font-size: $fontsize*2.3;
        }

        @include extrasmall {
          font-size: $fontsize*1.7;
        }
      }

      & img {
        @include small {
          width: 250px;
        }

        @include extrasmall {
          width: 250px;
        }
      }

      & a {
        font-size: $fontsize*2;

        @include small {
          font-size: $fontsize*1.7
        }

        @include extrasmall {
          font-size: $fontsize*1.5
        }
      }
    }
  }
}