.carousel {
  background-color: black;


  @include small {
    height: $alto;
    width: $ancho * 0.2;
  }

  @include extrasmall {
    height: $alto;
    width: $ancho * 0.2;
  }

  & .carousel-inner {

    & img {
      @include small {
        height: 300px;
        width: 450px;
        height: $alto * 0.8;
      }

      @include extrasmall {
        height: $alto * 0.8;
      }
    }
  }
}

.as {
  @include small {
    height: $alto;
  }

  @include extrasmall {
    height: $alto;
  }

  & iframe {
    height: 100%;
    width: 100%;

    @include small {
      height: $alto;
    }

    @include extrasmall {
      height: $alto;
    }
  }
}

article {
  &.art {
    @include small {
      height: $alto;
    }

    @include extrasmall {
      height: $alto;
      font-size: 18px;
    }

    &.art1 {
      background-image: url(../multimedia/deportista2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      & .frase {
        background-color: rgba(0, 0, 0, 0.481);
        color: ghostwhite;
      }
    }

    &.art2 {
      & h3 {
        border: 6px double black;
        background-color: white;

        @include extrasmall {
          font-size: 18px;
        }
      }

      & img {
        @include small {
          width: 250px;
        }

        @include extrasmall {
          width: 250px;
        }
      }
    }
  }
}