#marcas{
    background: rgb(101,36,150);
background: linear-gradient(360deg, rgba(101,36,150,1) 9%, rgba(16,27,99,1) 81%);

    & .titu {
        background: rgb(101,36,150);
background: radial-gradient(circle, rgba(101,36,150,1) 47%, rgba(0,0,0,1) 100%);
        color: white;
        font-family: $fontfam;
    }
    & .marca {
        & .cardh:hover {
            box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, rgba(255, 255, 255, 0.3) -10px 10px,
                rgba(255, 255, 255, 0.2) -15px 15px, rgba(255, 255, 255, 0.1) -20px 20px,
                rgba(255, 255, 255, 0.03) -25px 25px;

            transform: scale(1.02);
        }

        & .buy {
            animation: comprarmovimiento 0.5s;
            animation-delay: 0;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            font-size: $fontsize*1.5;

            @include medium {
                font-size: $fontsize*1.3;
            }

            @include small {
                font-size: $fontsize*1.3;
            }

            @include extrasmall {
                font-size: $fontsize*1.1;
            }

        }

        & h2 {
            font-size: $fontsize*1.9;

            @include small {
                font-size: $fontsize*1.7;
            }

            @include extrasmall {
                font-size: $fontsize*1.7;
            }

        }
    }
}

