.ven {
    & .cardh:hover {
        box-shadow: rgba(42, 91, 253, 0.4) -5px 5px, rgba(42, 91, 253, 0.3) -10px 10px,
            rgba(42, 91, 253, 0.2) -15px 15px, rgba(42, 91, 253, 0.1) -20px 20px,
            rgba(42, 91, 253, 0.05) -25px 25px;

        transform: scale(1.02);
    }

    & .buy {
        animation: comprarmovimiento 0.5s;
        animation-delay: 0;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        font-size: 15px;

        @include medium {
            font-size: 13px;
        }

        @include small {
            font-size: 13px;
        }

        @include extrasmall {
            font-size: 11px;
        }

    }

    & h2 {
        font-size: 19px;

        @include small {
            font-size: 17px;
        }

        @include extrasmall {
            font-size: 17px;
        }

    }

}

@keyframes comprarmovimiento {
    from {
        background-color: red;
    }

    to {
        background-color: black;
        transform: scale(1.3);
    }
}