table {
    & th {
        background-color: black;
        color: white;
        border: $borderwhite !important;

        @include extrasmall {
            font-size: $fontsize;
        }
    }

    & td {
        background-color: gray;
        color: white;
        border: $borderwhite !important;

        @include extrasmall {
            font-size: $fontsize;
        }
    }
}