@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display+SC&family=Poppins:ital,wght@0,300;0,400;0,500;0,900;1,300&family=Roboto+Condensed:ital@1&family=Rubik+80s+Fade&display=swap");

$alto: 50vh;
$ancho: 100vw;
$borderwhite: 2px solid white;
$borderblack: 3px solid black;
$fontsize: 10px;
$fontfam: "Playfair Display SC",
serif;